input[type="submit"] {
  width: calc(85px * 2);
  height: 60px;
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 800;
  background: var(--btn-hovered-color);
  color: var(--font-btn-hovered-color);
  line-height: 42px;
  padding: 0;
  border: none;
}

input[type="submit"]:hover {
  background: rgb(142, 219, 57);
  background: linear-gradient(
    90deg,
    rgba(142, 219, 57, 1) 0%,
    rgba(229, 133, 241, 1) 100%
  );
  color: white;
  box-shadow: none;
}
