.reg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-left: 20px;
}

#regBtn {
  margin-top: 50px;
  text-align: center;
}
